* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

main {
    margin: 2% 10%;
}

.render {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

textarea{
    width: 100%;
    height: calc( 10px + 1rem );
    resize: none;
    font-size: 1rem;
    font-family: unset;
    border: 0;
    overflow: hidden;
    outline: 0;
}

#input { 
    margin-top: 20px;
    border-bottom: 1px solid grey; 
}

.bold_button { font-weight: bold; }

.italic_button { font-style: italic; }

.buttons { 
    display: flex;
    gap: 10px;
}

button {
    font-size: 1.2rem;
    min-width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

img {
    margin: 30px auto;
    width: 60%;
}

.file_button_container {
    position: relative;
    cursor: pointer;
    width: 100px;
    pointer-events: none;
    overflow: hidden;
}

.file_button_container p {
    position: absolute;
    pointer-events: none;
    font-size: 1.2rem;
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
}

.file_button {
    pointer-events: all;
    opacity: 0;
}

.file_button::after {
    position: absolute;
    z-index: 999;
    content: "Add Image";
    width: 100%;
    text-align: center;
}

h1, h2, h3, h4, p { cursor: pointer }
